<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sipapp_project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="14" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.SEND_SMS" />
	
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/action_bar_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyAiUOlY6SHWBAxJtd6dBVv5_MYYbmUqIwY" />   
		            
        <activity
            android:name="com.example.sipapp_project.MainActivity"
            android:screenOrientation="portrait" 
	        android:icon="@drawable/ic_launcher"
	        android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sipapp_project.WelcomeActivity"
                  android:icon="@drawable/action_bar_icon"
            	  android:label="" 
                  android:screenOrientation="portrait" 
                  android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.example.sipapp_project.CategoriesActivity"
                  android:icon="@drawable/action_bar_icon"
                  android:label="Categorias"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"  >
        </activity>
        <activity android:name="com.example.sipapp_project.CategoryActivity"
                  android:label="Categoría" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.example.sipapp_project.EstablishmentActivity"
                  android:label="Establecimiento" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>      
        <activity android:name="com.example.sipapp_project.ParkingActivity"
                  android:label="Parqueaderos" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>   
        <activity android:name="com.example.sipapp_project.LocationActivity"
                  android:label="Ubicación" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
		<activity android:name="com.example.sipapp_project.HistoryActivity"
                  android:label="Mis Transacciones" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.example.sipapp_project.BuyActivity"
                  android:label="Cargar Saldo" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.example.sipapp_project.RelatedActivity"
                  android:label="Contactos" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"
                   >
        </activity>
        <activity android:name="com.example.sipapp_project.TransferActivity"
                  android:label="Transferencias" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>     
		<activity android:name="com.example.sipapp_project.WaitingActivity"
                  android:label="Tiempo Disponible" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity> 
		<activity android:name="com.example.sipapp_project.RegisterActivity"
                  android:label="Registrate" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>   
		<activity android:name="com.example.sipapp_project.MapActivity"
                  android:label="Mapa" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
		<activity android:name="com.example.sipapp_project.RecoverActivity"
                  android:label="Recuperar Contraseña" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.example.sipapp_project.InfoActivity"
                  android:label="Acerca De" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>  
        <activity android:name="com.example.sipapp_project.SMSActivity"
                  android:label="Envio de SMS" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.example.sipapp_project.MethodActivity"
                  android:label="Forma de Recarga" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.example.sipapp_project.AddContactActivity"
                  android:label="Agregar Contacto" 
                  android:icon="@drawable/action_bar_icon"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan" >
        </activity>  
    </application>

</manifest>
